
<mat-toolbar>
    <button routerLink="">Home</button>
</mat-toolbar>
<button routerLink="/">Back</button>

<div class="container">
    <div class="title">
        <div class="name-1">
            <h3>Rating</h3>
        </div>
    </div>

    <div class="wrapper">
           <div class="picture">
                <div class="title-picture">
                    <h4>Rating Today</h4>
                </div>
                 <!-- Loop Show cat -->
                <div class="user">
                    <img src="" alt="">
                    <i class='bx bxs-heart'></i>
                    <h5>Like</h5>
                    <i class='bx bx-up-arrow-alt'></i>
                </div>
           </div>
    </div>
</div>