
<mat-toolbar>
    <button routerLink="">Home</button>
</mat-toolbar>
<button routerLink="">Back</button>

<div class="container">
    <div class="title">
        <div class="name-1">
            <h3>Profile</h3>
        </div>
    </div>

    <div class="wrapper">
           <div class="infomation">
                <div class="infomation-title">
                    <div class="title">
                        <h4>Information</h4>
                    </div>

                    <div class="detail">
                        <img src="../../../assets/img/img-info.png" alt="">
                        <h6>name :  Emma</h6>
                        <h6>age :  20</h6>
                        <h6>gender :  female</h6>

                    </div>
                </div>
           </div>

           <div class="picture">
                <div class="title-picture">
                    <h4>Picture</h4>
                </div>
                 <!-- Loop Show cat -->
                <div class="user">
                    <img src="../../../assets/img/American Shorthair.png" alt="">
                    <h6>American shorthair</h6>
                    <i class='bx bxs-heart'></i>
                    <h5>69 Like</h5>
                </div>

                <div class="user">
                    <img src="../../../assets/img/American Shorthair.png" alt="">
                    <h6>American shorthair</h6>
                    <i class='bx bxs-heart'></i>
                    <h5>69 Like</h5>
                </div>
           </div>
    </div>
</div>