@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

mat-toolbar {
    display: flex;
    justify-content: end;
    align-items: center;
    padding:  0 20px;
}

mat-toolbar button {
    background-color: #c8c6c6;
    border: 1px solid #bbb9b9;
    border-radius: 7px;
    width: 60px;
    height: 30px;
    margin-right: 30px;
    cursor: pointer;
}

button {
    background-color: #c8c6c6;
    border: 1px solid #bbb9b9;
    border-radius: 7px;
    width: 60px;
    height: 30px;
    cursor: pointer;
    margin-left: 200px;
    margin-top: 10px;
}

.container {
    // display: flex;
    border: 1px solid rgb(236, 236, 236);
    width: 900px;
    height: 600px;
    // margin-top: 10px;
    background-color: #e8e6e6;
    margin-left: 290px;
    // justify-content: center;

}

.container .title {
    margin-left: 50px;
    display: flex;
    // border: 1px solid rgb(71, 69, 69);
    height: 50px;
    margin-top: 20px;
    width: 800px;
    align-items: center;
    justify-content: center;
}

.title .name-1 {
    display: flex;
    border: 1px solid rgb(208, 207, 207);
    width: 250px;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 15px;
    background-color: #fff;
}

.container .wrapper {
    border: 1px solid rgb(208, 207, 207);
    width: 780px;
    height: 470px;
    margin-top: 20px;
    margin-left: 60px;
    background-color: #f7f6f6;
    border-radius: 10px;
    display: flex;
}

.wrapper .infomation {
    border: 1px solid rgb(208, 207, 207);
    width: 460px;
    height: 420px;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

.infomation .infomation-title {
    border: 1px solid rgb(208, 207, 207);
    width: 400px;
    height: 350px;
    display: grid;
    justify-content: center;
    // align-items: center;
    margin-top: 30px;
    border-radius: 10px;
    background-color: #e8e6e6;
}

.infomation-title .title {
    border: 1px solid rgb(208, 207, 207);
    // margin-left: 10px;
    width: 150px;
    height: 40px;
    border-radius: 15px;
}

.title h4 {
    font-weight: 500;
}

.infomation-title .detail {
    // border: 1px solid rgb(153, 31, 31);
    width: 250px;
    height: 200px;
    margin-top: -60px;
    // display: grid;
    // justify-content: center;

}

.detail img {
    width: 60px;
    border-radius: 25px;
    margin-left: 95px;
    margin-top: 10px;
}

.detail h6 {
    margin-left: 88px;
    font-size: 10px;
    font-weight: 300;
    margin-top: 5px;
}

.wrapper .picture {
    border: 1px solid rgb(208, 207, 207);
    width: 280px;
    height: 420px;
    margin-left: 18px;
    margin-top: 20px;
    border-radius: 15px;
    // display: flex;
    // justify-content: center;
}   

.picture .title-picture {
    border: 1px solid rgb(208, 207, 207);
    width: 150px;
    height: 45px;
    margin-top: 5px;
    margin-left: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: #e8e6e6;
    
}

.title-picture h4 {
    font-weight: 500;
}

.title-user h4 {
    font-size: 15px;
    font-weight: 500;
}

.picture .user {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(208, 207, 207);
    width: 250px;
    height: 40px;
    border-radius: 20px;
    background-color: #fff;
    margin-top: 10px;
    margin-left: 16px;
    // margin-top: -100px;
    // margin-bottom: 80px;
    
}

.user img {
    width: 30px;
    height: 29px;
    // margin-top: 3px;
    margin-right: 180px;
    position: absolute;
    border-radius: 10px;
}

.user h6 {
    position: absolute;
    font-size: 10px;
    font-weight: 400;
    margin-right: 30px;
}

.user i {
    font-size: 18px;
    margin-left: 150px;
    margin-top: -1px;
    color: rgb(204, 36, 84);
}

.user h5 {
    font-size: 10px;
    font-weight: 400;
    color: rgb(204, 36, 84);
    margin-left: px;
}