<mat-toolbar>
    <button routerLink="/login">Login</button>
</mat-toolbar>

<div class="container">
    <div class="con-img">
        <img src="../../assets/images/cat-1294968_1920.png">
    </div>

    <div class="wrapper">
        <h1>Create an account</h1>
        <form action="">
            <div class="input-box">
                <p>name</p>
                <input type="text" #nameInputt required>
            </div>

            <div class="input-box">
                <p>email</p>
                <input type="text" #usernameInputt required>
            </div>

            <div class="input-box">
                <p>password</p>
                <input type="password" #passwordInput required>
            </div>
            <div class="input-box">
                <p>re-password</p>
                <input type="password" #comfirmpasswordInput required>
            </div>
            <button type="submit" class="btn" (click)="signup(nameInputt.value,usernameInputt.value,passwordInput.value,comfirmpasswordInput.value)">Create an account</button>
        </form>
    </div>
</div>