<mat-toolbar>
    <button routerLink="/user-rating">Rating</button>
    <button routerLink="/topten">Top10</button>
    <div class="nav-img">
        <!-- <img src="" alt=""> -->
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
        </svg>
        <h3>Profile</h3>
    </div>
</mat-toolbar>

<div class="container">
    <div class="title">
        <div class="name-1">
            <h3>Photo gallery</h3>
        </div>
    </div>

    <div class="wrapper">
        <div class="img-cat">
            <!-- Loop show Photo Gallery -->
            <div class="show-cat">
                <i class='bx bxs-x-circle'></i>
                <img src="../../../assets/img/American Shorthair.png" >

                <div class="like">
                    <h5>69 Like</h5>
                    <i class='bx bxs-heart'></i>
                </div>
            </div>

            <div class="show-cat">
                <i class='bx bxs-x-circle'></i>
                <img src="../../../assets/img/American Shorthair.png" >

                <div class="like">
                    <h5>69 Like</h5>
                    <i class='bx bxs-heart'></i>
                </div>
            </div>

            <div class="show-cat">
                <i class='bx bxs-x-circle'></i>
                <img src="../../../assets/img/American Shorthair.png" >

                <div class="like">
                    <h5>69 Like</h5>
                    <i class='bx bxs-heart'></i>
                </div>
            </div>

            <div class="show-cat">
                <i class='bx bxs-x-circle'></i>
                <img src="../../../assets/img/American Shorthair.png" >

                <div class="like">
                    <h5>69 Like</h5>
                    <i class='bx bxs-heart'></i>
                </div>
            </div>

            <div class="show-cat">
                <i class='bx bxs-x-circle'></i>
                <img src="../../../assets/img/American Shorthair.png" >

                <div class="like">
                    <h5>69 Like</h5>
                    <i class='bx bxs-heart'></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="btn-upload">
    <div class="plus">
        <i class='bx bxs-plus-circle'></i>
        <h6>upload</h6>
    </div>
    
    <div class="change">
        <i class='bx bx-sort'></i>
        <h6>change</h6>
    </div>
    
</div>