<app-header></app-header>
<div class="container">
    
    <div class="voting-container">
        <div *ngIf="show && selectedImages && selectedImages.length >= 2" class="box-1">
            <div class="name-1">
                <h3>{{selectedImages[0].description}}</h3>
            </div>

            <div class="img-1" (click)="onImageClick(0)">
                <img [src]="selectedImages[0].url">
            </div>
        </div>

        <div *ngIf="show && selectedImages && selectedImages.length >= 2" class="box-2">
            <div class="name-2">
                <h3>{{selectedImages[1].description}}</h3>
            </div>

            <div class="img-2" (click)="onImageClick(1)">   
                <img [src]="selectedImages[1].url" alt="Image 2">
            </div>
        </div>
    </div>

    <div class="title-cilck">
        <h3>Click on the image to vote</h3>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
           <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
        </svg>
   </div>


</div>